@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slideInUp {
    animation: slideInUp 1.3s ease-out forwards;
  }
  