@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slideInUp {
    animation: slideInUp 1.2s ease-out forwards;
  }
  
  .first-letter {
    float: left;
    font-size: 2rem; /* Tamaño de la primera letra */
    line-height: 1; /* Ajusta la altura de la línea si es necesario */
    padding-right: 4px; /* Espaciado opcional para separar la primera letra del resto del texto */
  }

  body{
  background-color:F8FAFC;
  }

main {
  backgroud-color: F8FAFC;
 }